.mainGrid {
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: 10vh 45vh 45vh;
    height: 100vh;
}


body {
    overflow: hidden;
}


#title {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 3;
}


#quote-view {
    grid-column: 1;
    grid-row: 3;
    overflow: scroll;
}
quote {
    background-color: green;
}
quote:hover {
    background-color: lightblue;
}


#character-view {
    grid-column: 1;
    grid-row: 2;
    overflow: scroll;
}
#character-view-characters {
    display: grid;
    grid-template-areas: "a a";
}
.character:hover {
    background-color: lightblue;
}
.characterRemoveButton {
    height: 20px;
    width: 20px;
    margin-top: 15px;
}


#document-view {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column: 2;
    overflow: scroll;
}
